# Tipos de Datos Básicos

## Números

- **Enteros**: `20`, `12`, `-5`, `0`, `10920398983497549`
- **Coma Flotante**: `3.5`, `-0.7`, `9837948.3284738`, `-19232343.845798`
- **Complejos**: `2+3j`, `-1+8j`, `-67j`

Pueden ser de cualquier tamaño, no hay límite. Tanto positivos como negativos. E inclusive podemos utilizar **Notación científica**: `2e3`, `10e-8`, `1.23e-5`.

Recordemos que la coma decimal se escribe con `.`. Y podemos utilizar el símbolo `_` como separador de miles. Por ejemplo, podemos guardar el valor 123.000 en la variable x con la sentencia:

- `x = 123000`

o con la sentencia:

- `x = 123_000`

In [0]:
20

20

In [0]:
9837948.3284738

9837948.3284738

In [0]:
-67j

(-0-67j)

In [0]:
2e3

2000.0

Podemos usar la función `type()` para que nos diga qué tipo de dato es el que estamos usando. Según el tipo de dato que tengamos la función nos dirá:
- `int` para los números enteros (del inglés "integer")
- `float` para los números en coma flotante (del inglés "floating point")
- `complex` para los números complejos

In [0]:
type(20)

int

In [0]:
type(9837948.3284738)

float

In [0]:
type(-67j)

complex

In [0]:
type(2e3)

float

Jugá un poco con los números y la función `type()`. Definí una variable `numero` y cambiale su valor para representar diferentes tipos. Usá `type(numero)` para ver si obtenés los tipos de números que estás queriendo:

## Operadores aritméticos

- Suma: `+`
- Resta: `-`
- Multiplicación: `*`
- División: `/`
- Módulo: `%`
- División Entera: `//`
- Potenciación: `**`

In [0]:
a = 5
a + 2

7

In [0]:
a * 2

10

In [0]:
a ** 2

25

In [0]:
4.5 * 8

36.0

In [0]:
10 / 3

3.3333333333333335

In [0]:
10 % 3

1

In [0]:
10 // 3

3

### Precedencia de los operadores

Los operadores aritméticos respetan la regla PEMDAS de precedencia. Es decir, se resuelven con el siguiente orden:

1. **P**aréntesis
2. **E**xponciación (potencia)
3. **M**ultiplicación (producto)
4. **D**ivisión (cociente)
5. **A**dición (suma)
6. **S**ubstracción (resta)

Muchos terminamos usando Python como nuestra calculadora personal, te animás?

## Cadenas de Texto

Las cadenas de texto en Python se definen entre comillas dobles `"` o comillas simples `'`. Por eso en la función `print()` pusimos como argumento `"Hola mundo!"`, también es válido poner `'Hola mundo!'`.

In [0]:
print('Hola mundo')

Hola mundo

In [0]:
type("Hola mundo!")

str

In [0]:
type('Hola mundo')

str

Si a `type` le pasamos una cadena de texto nos devuelve `str` (del inglés, *String*).

Si queremos poner cadenas de texto multilínea, podemos utilizar triple comilla simple `'''` o triple comilla doble `""""`.
Lo que no podemos hacer es mezclar las comillas que usamos. Si empezamos con `"`, terminamos con `"`. Lo mismo para `'`.

In [0]:
parrafo = """En un lugar de la Mancha, de cuyo nombre...
Es, pues, de saber que este sobredicho hidalgo, los ratos...


Con estas razones perdía el pobre caballero el juicio, y...
"""
parrafo.istitle()

False

In [0]:
titulo = "Don Quijote"
titulo.istitle()

True

Ahora es tu turno...

Otra de las funciones que viene con Python, además de `print` y `type` que ya las hemos visto, es la función `len` que devuelve la longitud del objeto que le pasemos como argumento. En el caso de las cadenas de texto nos devolverá la longitud de la cadena, es decir, la cantidad de caracteres de la misma.

In [0]:
len(titulo)

11

In [0]:
len(parrafo)

167

Escribí tu nombre en una variable y hacé que Python calcule la longitud del mismo:

### Métodos en cadenas

Las cadenas de texto admiten varios métodos que se pueden llamar con un punto a continuación de la cadena. Por ejemplo: el método `upper()` devuelve en mayúsculas el texto.

In [0]:
"En un lugar de la Mancha, de cuyo nombre...".upper()

'EN UN LUGAR DE LA MANCHA, DE CUYO NOMBRE...'

In [0]:
x = "En un lugar de la Mancha, de cuyo nombre..."
x.upper()

'EN UN LUGAR DE LA MANCHA, DE CUYO NOMBRE...'

In [0]:
x.isdigit()

False

In [0]:
x.split(',')

['En un lugar de la Mancha', ' de cuyo nombre...']

Ya sea que lo ejecutemos sobre la misma cadena o si la tenemos guardada en una variable, los métodos de cadenas se pueden ejecutar indistintamente.

Si queremos ver qué métodos tenemos disponibles, podemos usar la funcón `dir` sobre una cadena.

In [0]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Intentá descifrar qué hace cada método sobre la cadena que tenemos almacenada en `x`:

In [0]:
x.lower()

'en un lugar de la mancha, de cuyo nombre...'

Para no andar jugando a los detectives Python nos ofrece además la función `help` que nos informa con una breve ayuda sobre el método que queremos saber:

> Fijate que luego de `lower` no ponemos los `()`. Ya que si ponemos los paréntesis Python primero ejecutará el método `lower()` sobre la variable `x` y eso es un `str`.

In [0]:
help(x.lower)

Help on built-in function lower:

lower(...) method of builtins.str instance
    S.lower() -> str

    Return a copy of the string S converted to lowercase.

### Formateando cadenas de texto

Si bien hay varias formas de darle formato a las cadenas de texto, lo más práctico es usar las `f-string`. Anteponemos una letra `f` al comienzo de la cadena y luego dentro de la misma utilizamos las `{}` para poner el valor o la expresión que queremos usar.

Guardemos 2 números en las variables `numero1` y `numero2`, realicemos la suma y usemos una `f-string` para mostrar los 3 valores:

In [0]:
numero1 = 18
numero2 = 34
resultado = numero1 + numero2
print(f"El resultado de la suma entre {numero1} y {numero2} da como resultado {resultado}")

El resultado de la suma entre 18 y 34 da como resultado 52

Este es TU momento...

## Ingreso de datos

La función `input()` nos sirve para aceptar el ingreso de valores por teclado. Dentro de los paréntesis podemos escribir una cadena de texto para que el usuario visualice. La función devuelve el valor ingresado antes de presionar ENTER.

In [0]:
x = input('Ingrese un número: ')

Ingrese un número: 10

In [0]:
x

'10'

In [0]:
type(x)

str

La función `input` SIEMPRE nos va a devolver una cadena de texto. Si queremos que ese valor sea un número, tenemos que convertirlo con `int()`, `float()` o `complex()` según sea nuestra intención.

In [0]:
int(x)

10

In [0]:
float(x)

10.0

In [0]:
complex(x)

(10+0j)

In [0]:
x

'10'

Notemos que acá nunca volvemos a guardar el valor de `x`, lo que se suele hacer es directamente llamar a la función que queremos y luego llamar dentro a `input()`.

Por ejemplo, si quisieramos tener en `x` un entero:

In [0]:
x = int(input("Ingrese un número: "))

Ingrese un número: 10

In [0]:
x

10

In [0]:
type(x)

int

In [0]:
input("Ingrese su nombre: ")

Ingrese su nombre: Leandro

'Leandro'

In [0]:
name = input("Ingrese su nombre: ")

Ingrese su nombre: Leo

In [0]:
name

'Leo'

Si ingresamos un valor que la función no puede convertir, nos tirará un error.

In [0]:
x = int(input("Ingrese un número: "))

Ingrese un número: diez

ValueError: ignored

### Ejercicio:

Pedile al usuario su nombre, guardalo en una variable y luego imprimí un mensaje que salude al usuario: